<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recurring_service.name %>
</p>

<%= link_to 'Edit', edit_recurring_service_path(@recurring_service) %> |
<%= link_to 'Back', recurring_services_path %>
