<!DOCTYPE html>
<html>
<head>
  <title>Moffa Landscaping</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
    
<%= yield %>

</body>
</html>
